
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
        <link href="../static/css/layout.css" th:href="@{css/layout.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../static/js/jquery-3.4.1.min.js" th:src="@{js/jquery-3.4.1.min.js}" type="text/javascript"></script>
        <script type="text/javascript" src="../static/js/application.js" th:src="@{js/application.js}"></script>
