<form class="multiplier-form">
    <table class="multiplier-table">
        <tr class="multiplier-table-row">
            <td class="multiplier-td-label">Fraction:</td>
            <td class="multiplier-td-content">
                <input type="text" class="fddb-multiplier numerator" name="fddb-multiplier-numerator" id="fddb-multiplier-numerator">
                /
                <input type="text" class="fddb-multiplier denominator" name="fddb-multiplier-denominator" id="fddb-multiplier-denominator">
            </td>
        </tr>
        <tr class="multiplier-table-row">
            <td class="multiplier-td-label">Decimal val.:</td>
            <td class="multiplier-td-content"><input type="text" class="fddb-multiplier" name="fddb-multiplier" id="fddb-multiplier"></td>
        </tr>
        <tr class="multiplier-table-row">
            <td class="multiplier-td-label">Net weight:</td>
            <td class="multiplier-td-content">
                <input type="text" class="fddb-multiplier net-weight-part" name="fddb-multiplier-net-weight-part" id="fddb-multiplier-net-weight-part">
                of
                <input type="text" th:value="${recipe.getNetWeight()}" class="fddb-multiplier net-weight-whole" name="fddb-multiplier-net-weight-whole" id="fddb-multiplier-net-weight-whole">
            </td>
        </tr>
        <tr class="multiplier-table-row">
            <td class="multiplier-td-label">When:</td>
            <td class="multiplier-td-content">
                <input type="text" class="fddb-multiplier fddb-time-offset" value="0" name="fddb-time-offset" id="fddb-time-offset"> hrs. ago</td>
        </tr>
        <tr class="multiplier-table-row">
            <td class="multiplier-td-label"></td>
            <td class="multiplier-td-content"><input type="submit" value="Submit to fddb"></td>
        </tr>
    </table>
</form>