<b>Pro Portion:</b> <span class="nutritionValue" th:if="${recipe.hasNutritionData()}" th:each="category: ${categories}"
    th:text="${recipe.getNutritionValueFormatted(category) + ' ' + categoriesAndUnits.get(category)}">val</span>