* {
  box-sizing: border-box;
}

a { color: #666; }
a:focus { color: #666; }
a:active { color: #666; }
a:hover { color: #966; }

body {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  color: #666;
}

.nutrition-data-list div {
    margin-top: 1.5em;
	display: inline-block;
	border: 1px #eee solid;
	margin: 0.1em;
	line-height: normal;
	background-color: #eee;
	font-size: smaller;
}

h4 {
    margin-bottom: 0em;
}

header {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  text-align: left;
  font-size: 20px;
}

.top-actions-panel {
    padding-bottom: 0.5em;
}

#link-amounts {
    margin-left: 3em;
}

form ul i {
    color: #999;
}

#formcontainer {
    text-align: center;
}

.formbutton {
    background-color: #eee;
    padding: 10px;
    border: none;
    color: #999;
    font-weight: bold;
}

.ingredients-panel {
    background: #fff;
    padding: 0px 40px 20px 0px;
}

.multiplier-panel {
    display: none;
}

.multiplier-form {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.4em;
    padding-bottom: 0.4em;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 2;
}

nav ul li {
    font-family: 'Roboto', sans-serif;
}

nav ul li sup {
    color: #31c42c;
    font-size: 0.7em;
}

.yield {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: 0.3em;
}
.yield span {

}
.yield a {
    text-decoration: none;
    background-color: #ddd;
    padding: 0px 3px 0px 3px;
    border: 2px solid #fff;
    border-radius: 0.3em;
}

.yield-portions {
    display: inline-block;
}

@media (max-width: 4000px) {
    .ingredients-panel {
        float: left; 
        min-width: 15em;
        width: 35%;
        height: auto;
    }
    .instructions-panel {
        float: left;
        width: 65%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .instructions-panel, .ingredients-panel {
      width: 100%;
      height: auto;
    }
  }

.instructions-panel {
  padding-left: 0px;
  padding-right: 60px;
  background-color: #fff;
  padding-top: 0.5em;
}

.instructionsHeadline {
    font-family: 'Roboto', sans-serif;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    font-size: 1.8em;
}

.instructions-para {
        
}

.full-page {
    width: 100%;
    padding-right: 0px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-top: 1px #ddd solid;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}

.nutritionValue {
    text-decoration: none;
    background-color: #eee;
    padding: 0px 3px 0px 3px;
    border: 2px solid #fff;
    border-radius: 0.3em;
    margin-left: 5px;
}

.showstored {
    margin: 1.0em;
}

.showstored a {
    text-decoration: none;
    font-weight: bold;
}

.recipe-version {
    border: 1px #b0b0b0 solid;
    font-size: 0.6em;
    margin-left: 0.5em;
    font-weight: bold;
    padding: 0.3em;
    background-color: #dfdfdf;
    vertical-align: middle;
    display: inline-block;
}

.img-div {
    display: none;
}

.textWrap {
    width: 400px;
    padding-top: 0.4em;
    margin-right: 1.0em;
    margin-bottom: 1.0em;
}

.header-block {
    background-color: #eee;
    padding: 0.2em;
    display: block;
}

.qualifier {
    color: #f48f42;
}

.amount { }

input[type=text] {
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 0.5em;
}

input.formValue {
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 0.5em;
}

input.short {
    width: 6em;
}

input.long {
    width: 25em;
}

.invisible-element {
    visibility: hidden;
}

.urlfield {
    width: 80%;
    color: #aaa;
    text-align: center;
    font-style: italic;
}

.amountfield {
    width: 10%;
    color: #aaa;
    text-align: center;
}

.home-button {
    text-decoration: none;
    color: #999;
}

.display-button, .edit-button, .delete-button, .calc-button, .fddb-button, .img-toggle-button, .pdf-button {
    text-decoration: none;
    color: #999;
}

.button-wrapper {
    margin-left: 1.5em;
}

.recipeTable th {
    font-size: smaller;
    text-align: left;
    vertical-align: bottom;
    max-width: 3em;
}

.recipeTable tr {
    line-height: normal;
}

.recipeTable td {
    line-height: normal;
    height: 0.8em;
}

th.short {
    width: 6em;
}

.ingredient-actions {
    white-space: nowrap;
}

.small-img {
    width: 100px;
}

#recipe-name { width: 50%; }

.recipeTable {
        border: 1px solid #ececec;
        padding: 0.4em;
}

.recipeTable td .short {
    width: 6em;
}

.instruction-area {
    width: 100%;
    height: 25em;
}

textarea {
	caret-color: red;
	width: 60em;
	height: 15em;
	border: 1px solid #cccccc;
    padding: 0.5em;
    font-family: 'Roboto Slab';
}

textarea:focus {
      background: #FFC;
}

.sort-up {
    text-decoration: none;
    color: #999;
    margin-bottom: 1em;
    margin-right: 0.1em;
}
.sort-down {
    text-decoration: none;
    color: #999;
    margin-bottom: 1em;
    margin-right: 0.1em;
}

.img-url-field {
    width: 50em;
}

.hp-link-div {
    margin: 0.8em;
}

.fddb-multiplier {
    width: 5em;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    background-color: #eee;
    margin: 0.2em;
    text-align: center;
}

@media (max-width: 4000px) {
    .recipe-card {
        flex: 1 16%;
    }
}

@media (max-width: 920px) {
    .recipe-card {
        flex: 1 21%;
    }
}

@media (max-width: 600px) {
    .recipe-card {
        flex: 1 46%;
    }
}

.recipe-image {
	line-height: 0px;
}

.recipe-image img {
    max-width: 100%;
}

.recipe-headline {
    font-weight: bold;
}

.recipe-info {
    margin-top: auto;
}

.recipe-info a {
	text-decoration: none;
}
