<!doctype html>
<html lang="de">
    <head>
        <title>Stored receipes</title>
    <!--/*/ <th:block th:include="fragments/commonHeaders.html">
            </th:block> /*/-->
    </head>
    <body>
        <header>
            <a href="/"><i class="home-button fa fa-home fa-2x"></i></a>
        </header>
        <section class="recipes">
            <div    class="recipe-card tile"
                    th:each="recipe: ${receipes}"
                    th:style="'border-top: 0.2em solid ' + #{'recipe.type.colour.' + ${{recipe.getRecipeType()}}}">
                <div class="recipe-image">
                    <img src="clear.gif" width="120px" height="1px"/>
                </div>
                <div class="recipe-info">
                    <a th:href="@{/displayRecipe.html(url=${recipe.getSrcId()},multiplier=1)}">
                        <p class="recipe-headline" th:text="${recipe.getName()}">Name</p>
                    </a>
                    <p>
                        <span class="recipe-version" th:each="recipeVersion: ${recipeVersionsMap.get(recipe.getName())}">
                            <a th:href="@{/displayRecipe.html(url=${recipeVersion.getSrcId()},multiplier=1)}">
                                <span th:if="${recipeVersion.getVersionName() != null}"
                                      th:text="${utils.handleNewlinesForHtml(recipeVersion.getVersionName())}"></span>
                                <span th:unless="${recipeVersion.getVersionName() != null}"
                                      th:text="${#temporals.format(recipeVersion.getCreateDateTime(), 'dd.MM.yyyy HH:mm')}"></span>
                            </a>
                        </span>
                    </p>
                </div>
            </div>
        </section>
        <footer>
            <!-- empty -->
        </footer>
    </body>
</html>