<!doctype html>
<html lang="de">
    <head>
        <title th:text="${recipe.getName()}">Recipe</title>
    <!--/*/ <th:block th:include="fragments/commonHeaders.html">
                </th:block> /*/-->
        <script th:inline="javascript">
            var recipeId = /*[[${chefkochId}]]*/ null;
            var dlgMultiplier = 1.0;
        </script>
    </head>
    <body>
        <header>
            <div class="top-actions-panel">
                <a href="/"><i class="home-button fa fa-home fa-2x"></i></a>
                <span class="button-wrapper">
                    <a th:href="@{/editRecipe.html(recipeId=${chefkochId})}">
                        <i class="edit-button fa fa-pencil-square-o fa-2x"></i></a></span>
                <span class="button-wrapper" th:if="${!recipe.hasParentSrcId() and storedRecipe}">
                    <a th:href="@{/editVersion.html(recipeId=${chefkochId})}">
                        <i class="calc-button fa fa-calculator fa-2x"></i></a></span>
                <span class="button-wrapper" th:if="${storedRecipe}">
                    <a th:href="@{/getPdf/{docId}(docId=${chefkochId},multiplier=${multiplier})}">
                        <i class="pdf-button fa fa-file-pdf-o fa-2x"></i></a></span>
                <span class="button-wrapper" th:if="${recipe.hasParentSrcId() or storedRecipe}">
                    <a id="post-to-fddb-button" href="#">
                        <i class="fddb-button fa fa-cutlery fa-2x"></i></a></span>
                <span class="button-wrapper" th:if="${storedRecipe}">
                    <a th:href="@{/deleteRecipe.html(recipeId=${param.url[0]})}">
                        <i class="delete-button fa fa-trash-o fa-2x"></i></a></span>
            </div>
            <div class="header-block" th:attr="style=${isVersion}? 'background-color: #fbeab9;' : ''">
                <div class="instructionsHeadline">
                    <span th:text="${recipe.name}">Recipe</span>
                    <span th:if="${isVersion}">
                        <i>(
                        <span th:if="${recipe.getVersionName() != null}"
                              th:text="${utils.handleNewlinesForHtml(recipe.getVersionName())}">VersionName</span>
                        <span th:unless="${recipe.getVersionName() != null}"
                              th:text="${#temporals.format(recipe.getCreateDateTime(), 'dd.MM.yyyy HH:mm')}">VersionTimestamp</span>
                        </i>)
                    </span>
                </div>
                <div class="recipeTypeContainer"><span th:text="#{'recipe.type.name.' + ${{recipe.getRecipeType()}}}">Typ</span></div>
                <div class="yield">
                    <a th:href="@{/displayRecipe.html(url=${param.url[0]},multiplier=0.25)}">&#xBC;</a>
                    <a th:href="@{/displayRecipe.html(url=${param.url[0]},multiplier=0.33)}">&frac13;</a>
                    <a th:href="@{/displayRecipe.html(url=${param.url[0]},multiplier=0.5)}">&#xBD;</a>
                    <a th:href="@{/displayRecipe.html(url=${param.url[0]},multiplier=0.66)}">&frac23;</a>
                    <a th:href="@{/displayRecipe.html(url=${param.url[0]},multiplier=0.75)}">&#xBE;</a>
                    <a th:href="@{/displayRecipe.html(url=${param.url[0]},multiplier=1.0)}">1x</a>
                    <a th:href="@{/displayRecipe.html(url=${param.url[0]},multiplier=1.5)}">1&#xBD;x</a>
                    <a th:href="@{/displayRecipe.html(url=${param.url[0]},multiplier=2.0)}">2x</a>
                    <a th:href="@{/displayRecipe.html(url=${param.url[0]},multiplier=2.5)}">2&#xBD;x</a>
                </div>
                <div class="yield-portions">
                    <span th:text="${recipe.getServingsFormatted()}">0</span>
                    <span> Portion</span><span th:if="${recipe.getServings() > 1.0}" th:text="${'en'}"></span>
                    <span th:if="${recipe.isNetWeightSet()}" th:text="${ '(&agrave; ' + recipe.getPortioningAmountFormatted() + ' g)'}"></span>
                </div>
            </div>
        </header>
        <section>
            <nav class="ingredients-panel">
                <ul class="multiplier-panel">
                    <form th:replace="fragments/multiplierForm"></form>
                </ul>
                <ul th:each="ingredient: ${recipe.getRecipeIngredients()}">
                    <li>
                        <b class="amount" th:text="${ingredient.getAmountFormatted() + ' ' + ingredient.getUnitFormatted()}">amount unit</b>
                        <span th:text="${ingredient.getName()}">ingredient</span>
                        <i class="qualifier" th:text="${ingredient.getQualifier()}">more</i>
                    </li>
                </ul>
            </nav>
            <article class="instructions-panel">
                <i class="img-toggle-button fa fa-camera fa-2x"></i>
                <div class="img-div">
                    <img class="textWrap" th:src="${recipe.getImgUrl()}"/>
                </div>
                <p class="instructions-para" th:utext="${utils.handleNewlinesForHtml(recipe.getInstructions())}">
                    instruction
                </p>
            </article>
        </section>
        <footer>
            <span th:replace="fragments/nutritionValues.html">Nutrition values</span>
        </footer>
        <script type="text/javascript">
            $(document).ready(function() {

                $('.img-toggle-button').click(function() {
                    $('.img-div').toggle();
                    $('.img-toggle-button').toggle();
                });
                $('.img-div').click(function() {
                    $('.img-div').toggle();
                    $('.img-toggle-button').toggle();
                });

                $('#post-to-fddb-button').click(function() {
                    $('.multiplier-panel').toggle();
                });

                $('form.multiplier-form').on('submit', function(e) {
                    e.preventDefault();
                    dlgMultiplier = calculateMultiplier();
                    dlgTimeOffset = calculateTimeOffset();
                    $.ajax({
                        type: "GET",
                        url: "/postToFddb.html?recipeId=" + recipeId + "&multiplier=" + dlgMultiplier + "&timeOffset=" + dlgTimeOffset,
                        data: "",
                        success: function(response) {
                            var x = 0;
                            window.location.href = "/listRecipes.html";
                        },
                        failure: function(errMsg) {
                            alert(errMsg);
                        }
                    });
                });
            });
        </script>
    </body>
</html>