<!doctype html>
<html lang="de">
    <head>
        <title>Edit nutrition data</title>
    <!--/*/ <th:block th:include="fragments/commonHeaders.html">
                    </th:block> /*/-->
    </head>
    <body>
        <header>
            <a href="/"><i class="home-button fa fa-home fa-2x"></i></a>
        </header>
        <section>
            <article class="full-page">
                <h4>Add nutrition data ids:</h4>
                <form action="/saveNutritionData.html" method="post">
                    <input type="text" class="nutrition-data-ids" name="nutritionDataIds"/><br/>
                    <input type="submit" value="Save"/>
                </form>
            </article>
            <article class="full-page nutrition-data-list">
                <div th:each="nameAndId: ${ingredientNameAndSrcIds}">
                    (<span th:text="${nameAndId.getSrcId()}"></span>) <span th:text="${nameAndId.getIngredientName()}"></span>
                </div>
            </article>
        </section>
        <footer>
            <!-- -->
        </footer>
    </body>
</html>