<!doctype html>
<html lang="de">
    <head>
        <title th:text="${'Edit ' + recipe.getName()}">Recipe</title>
    <!--/*/ <th:block th:include="fragments/commonHeaders.html">
                    </th:block> /*/-->
        <script th:inline="javascript">
            var recipeId = /*[[${recipeId}]]*/ null;
            var parentRecipeId = /*[[${parentRecipeId}]]*/;
            var recipeJson;
            var fddbNutritionData = /*[[${nutritionLookup.getNamesAndIdsMap()}]]*/ null;
        </script>
    </head>
    <body>
        <header>
            <a href="/"><i class="home-button fa fa-home fa-2x"></i></a>
            <span class="button-wrapper">
                <a th:href="@{/displayRecipe.html(url=${param.recipeId[0]},multiplier=1.0)}">
                    <i class="display-button fa fa-television fa-2x"></i></a></span>
            <span class="button-wrapper">
                <a th:href="@{/deleteRecipe.html(recipeId=${param.recipeId[0]})}">
                    <i class="delete-button fa fa-trash-o fa-2x"></i></a></span>
        </header>
        <section>
            <article class="full-page">
                <h3 class="instructionsHeadline" th:text="${recipe.getName()}">Recipe</h3>
            </article>
            <article class="full-page">
                <form class="recipeForm" action="/saveRecipe.html" method="post">
                    <input type="hidden" id="src-id" name="recipeId" th:value="${#httpServletRequest.getParameter('recipeId')}"/>
                    <select id="recipe-type">
                        <option th:each="recipeType : ${T(de.rk.tools.health.cookbook.data.RecipeType).values()}"
                                th:value="${recipeType}"
                                th:text="#{'recipe.type.name.' + ${{recipeType}}}"
                                th:selected="${recipeType.equals(recipe.getRecipeType())}">
                        </option>
                    </select>
                    <input class="formValue" type="text" id="recipe-name" th:name="recipe-name" th:value="${recipe.getName()}"/>
                    serves
                    <input class="formValue short" type="text" id="recipe-servings" th:name="recipe-servings" th:value="${recipe.getServings()}"/>
                    <h4>Image:</h4>
                    <table>
                        <tr>
                            <td><img class="textWrap small-img" id="img-url" th:src="${recipe.getImgUrl()}"/></td>
                            <td><input class="formValue img-url-field" type="text" id="recipe-imgurl" th:name="recipe-imgurl" th:value="${recipe.getImgUrl()}"/></td>
                        </tr>
                    </table>
                    <h4>Ingredients:</h4>
                    <table class="recipeTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Qualifier</th>
                                <th class="short">Amount</th>
                                <th class="short">Unit</th>
                                <th>Nutrition</th>
                                <th class="short">Nutrition amount</th>
                                <th class="short">Nutrition unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="ingredientRow" th:each="ingredient: ${recipe.getRecipeIngredients()}">
                                <td>
                                    <input class="ingNameF formValue" type="text" th:name="${ingredientStat.index + 'Name'}" th:value="${ingredient.getName()}"/>
                                </td>
                                <td>
                                    <input class="ingQualF formValue" type="text" th:name="${ingredientStat.index + 'Qualifier'}" th:value="${ingredient.getQualifier()}"/>
                                </td>
                                <td class="short">
                                    <input class="ingAmountF formValue short" type="text" th:name="${ingredientStat.index + 'Amount'}" th:value="${utils.avoidZero(ingredient.getAmount())}" />
                                </td>
                                <td class="short">
                                    <input class="ingUnitF formValue short" type="text" th:name="${ingredientStat.index + 'Unit'}" th:value="${ingredient.getUnit()}" />
                                </td>
                                <td>
                                    <input class="ingNutriF formValue long" list="nutrition"  th:name="${ingredientStat.index + 'NutritionInfo'}"
                                           th:value="${nutritionLookup.getIngredientNameBySrcId(ingredient.getNutritionInfoId())}" />
                                </td>
                                <td class="short">
                                    <input class="ingNutriAmountF formValue short" type="text" th:name="${ingredientStat.index + 'NutritionAmount'}" th:value="${utils.avoidZero(ingredient.getNutritionAmount())}" />
                                </td>
                                <td class="short">
                                    <input class="ingNutriUnitF formValue short" type="text" th:name="${ingredientStat.index + 'NutritionUnit'}" th:value="${ingredient.getNutritionUnit()}" />
                                </td>
                                <td class="ingredient-actions">
                                    <a class="up" href="#"><i class="sort-up fa fa-caret-square-o-up"></i></a>
                                    <a class="down" href="#"><i class="sort-down fa fa-caret-square-o-down"></i></a>
                                    <a class="trash" href="#"><i class="trash fa fa-trash-o"></i></a>
                                </td>
                                <input class="ingPosF formValue short" type="hidden" th:name="${ingredientStat.index + 'Pos'}" th:value="${ingredient.getPosNr()}"/>
                            </tr>
                        </tbody>
                    </table>
                    <input class="addRow" type="button" value="Add"/>
                    <div class="instruction-div">
                        <h4>Instructions:</h4>
                        <textarea id="instructions" class="instruction-area" name="instructions" th:text="${recipe.getInstructions()}"></textarea>
                    </div>
                    Version name: <input class="formValue" type="text" id="version-name" name="version-name" th:value="${recipe.getVersionName()}"/>
                    <br/>
                    Net weight: <input class="formValue short" type="text" id="net-weight" name="net-weight" th:value="${recipe.getNetWeight()}"/> g
                    <br/>
                    <input type="submit" value="Save"/>
                    <datalist id="nutrition">
                        <option th:each="nutrition: ${nutritionLookup.getNamesAndIdsMap()}" th:value="${nutrition.key}" value="Nutrition">
                    </datalist>
                </form>
            </article>
        </section>
        <footer>
            <!-- -->
        </footer>
        <script type="text/javascript">
            $(document).ready(function() {
                $('form.recipeForm').on('submit', function(e){
                    var urlString = "/saveRecipe.html?recipeId=" + recipeId;
                    if(parentRecipeId != null) {
                        urlString += "&parentRecipeId=" + parentRecipeId;
                    }
                    e.preventDefault();
                    buildJson();
                    $.ajax({
                        type: "POST",
                        url: urlString,
                        data: recipeJson,
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function(response) {
                            var x = 0;
                            window.location.href = "/displayRecipe.html?multiplier=1.0&url=" + recipeId;
                        },
                        failure: function(errMsg) {alert(errMsg);}
                    });
                });
                $('input.addRow').click(function() {
                    addNewRow();
                });
                registerIngredientActionEvents();
            });
        </script>
    </body>
</html>