<!doctype html>
<html lang="de">
    <head>
        <title th:text="${'Edit version of: ' + recipe.getName()}">Recipe</title>
    <!--/*/ <th:block th:include="fragments/commonHeaders.html">
                    </th:block> /*/-->
        <script th:inline="javascript">
            var recipeId = /*[[${recipeId}]]*/ null;
            var recipeJson;
            var fddbNutritionData = /*[[${nutritionLookup.getNamesAndIdsMap()}]]*/ null;
        </script>
    </head>
    <body>
        <header>
            <a href="/"><i class="home-button fa fa-home fa-2x"></i></a>
            <span class="button-wrapper">
                <a th:href="@{/displayRecipe.html(url=${param.recipeId[0]},multiplier=1.0)}"><i class="display-button fa fa-television fa-2x"></i></a></span>
            <span class="button-wrapper">
                <a th:href="@{/deleteRecipe.html(recipeId=${param.recipeId[0]})}"><i class="delete-button fa fa-trash-o fa-2x"></i></a></span>
        </header>
        <section>
            <nav>
                <form class="recipeForm" action="/saveRecipe.html" method="post">
                    <ul class="yield">
                        <span th:text="${recipe.getServingsFormatted()}">0</span><span> Portion</span><span th:if="${recipe.getServings() > 1.0}" th:text="${'en'}"></span>
                        <input type="checkbox" checked="true" id="link-amounts" name="link-amounts"/> <i>link amounts</i>
                    </ul>
                    <input type="hidden" id="src-id" name="recipeId" th:value="${#httpServletRequest.getParameter('recipeId')}"/>
                    <input type="hidden" id="recipe-name" th:name="recipe-name" th:value="${recipe.getName()}"/>
                    <input type="hidden" id="recipe-servings" th:name="recipe-servings" th:value="${recipe.getServings()}"/>
                    <input type="hidden" id="recipe-imgurl" th:name="recipe-imgurl" th:value="${recipe.getImgUrl()}"/>
                    <table class="recipeTable">
                        <tbody>
                        <tr class="ingredientRow" th:each="ingredient: ${recipe.getRecipeIngredients()}">
                            <td>
                                <input class="ingAmountF formValue short" type="text"
                                       th:name="${ingredientStat.index + 'Amount'}"
                                       th:value="${utils.avoidZero(ingredient.getAmount())}" />
                                <span th:text="${ingredient.getUnit()}"></span>
                                <span th:text="${ingredient.getName()}"></span>
                                <span th:text="${ingredient.getQualifier()}"></span>
                                <input class="ingNutriAmountF formValue short" type="text"
                                       th:classappend="${ingredient.getNutritionAmount() == null}?invisible-element"
                                       th:name="${ingredientStat.index + 'NutritionAmount'}"
                                       th:value="${utils.avoidZero(ingredient.getNutritionAmount())}" />
                                <span th:text="${ingredient.getNutritionUnit()}"></span>
                                <!-- -->
                                <input class="ingUnitF formValue short" type="hidden"
                                       th:name="${ingredientStat.index + 'Unit'}"
                                       th:value="${ingredient.getUnit()}" />
                                <input class="ingNameF formValue" type="hidden"
                                       th:name="${ingredientStat.index + 'Name'}"
                                       th:value="${ingredient.getName()}"/>
                                <input class="ingQualF formValue" type="hidden"
                                       th:name="${ingredientStat.index + 'Qualifier'}"
                                       th:value="${ingredient.getQualifier()}"/>
                                <input class="ingNutriF formValue long" type="hidden" list="nutrition"
                                       th:name="${ingredientStat.index + 'NutritionInfo'}"
                                       th:value="${nutritionLookup.getIngredientNameBySrcId(ingredient.getNutritionInfoId())}" />
                                <input class="ingNutriUnitF formValue short" type="hidden"
                                       th:name="${ingredientStat.index + 'NutritionUnit'}"
                                       th:value="${ingredient.getNutritionUnit()}" />
                                <input class="ingPosF formValue short" type="hidden"
                                       th:name="${ingredientStat.index + 'Pos'}"
                                       th:value="${ingredient.getPosNr()}"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    Version name: <input class="formValue" type="text" id="version-name" name="version-name" th:value="${recipe.getVersionName()}"/>
                    <br/>
                    Net weight: <input class="formValue short" type="text" id="net-weight" name="net-weight" th:value="${recipe.getNetWeight()}"/> g
                    <br/>
                    <input type="hidden" id="instructions" name="instructions" th:value="${recipe.getInstructions()}"/>
                    <br/>
                    <input type="submit" value="Save version"/>
                    <datalist id="nutrition">
                        <option th:each="nutrition: ${nutritionLookup.getNamesAndIdsMap()}" th:value="${nutrition.key}" value="Nutrition">
                    </datalist>
                </form>
            </nav>
            <article>
                <h3 class="instructionsHeadline" th:text="${recipe.name}">Recipe</h3>
                <img class="textWrap" th:src="${recipe.getImgUrl()}"/>
                <p th:utext="${utils.handleNewlinesForHtml(recipe.getInstructions())}">
                    instruction
                </p>
            </article>
        </section>
        <footer>
            <span th:replace="fragments/nutritionValues.html">Nutrition values</span>
        </footer>
        <script type="text/javascript">
            $(document).ready(function() {
                saveOriginalValues();

                $('.ingredientRow input').change(function(){
                    recalcValues();
                });

                $('form.recipeForm').on('submit', function(e){
                    e.preventDefault();
                    buildJson();
                    $.ajax({
                        type: "POST",
                        url: "/saveRecipe.html?parentRecipeId=" + recipeId + "&recipeId=" + recipeId,
                        data: recipeJson,
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function(response) {
                            var x = 0;
                            window.location.href = "/listRecipes.html";
                        },
                        failure: function(errMsg) {alert(errMsg);}
                    });
                });
            });
        </script>
    </body>
</html>